{% extends 'base.html' %} {% load static %} {% block title %}Blog |
{{user.username}}{%endblock title %}
<!--content block-->
{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          {% if search_results %} {% for article in search_results %}
          <div class="post col-xl-6">
            <div class="post-thumbnail">
              <a href="{{ article.get_absolute_url }}"
                ><img
                  src="{{ article.thumbnail.url }}"
                  alt="..."
                  class="img-fluid"
              /></a>
            </div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{ article.timestamp }}</div>
              </div>
              <div class="post-meta d-flex justify-content-between">
                {% for category in article.categories.all %}
                <div class="category"><a href="#">{{ category }}</a></div>
                {% endfor %}
              </div>
              <a href="{{ article.get_absolute_url }}">
                <h3 class="h4">{{article.title}}</h3>
              </a>
              <p class="text-muted">{{article.overview | safe}}</p>
              <footer class="post-footer d-flex align-items-center">
                <a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar">
                    <img
                      src="{{ article.author.profile_picture.url }}"
                      alt="..."
                      class="img-fluid"
                    />
                  </div>
                  <div class="title">
                    <span>{{ article.author.name }}</span>
                  </div>
                </a>
                <div class="date">
                  <i class="icon-clock"></i>{{ article.timestamp|timesince }}
                  ago
                </div>
                <div class="comments meta-last">
                  <i class="icon-comment"></i>{{article.comment_count}}
                </div>
              </footer>
            </div>
          </div>
          {% endfor %} {% elif request.POST %}
          <div class="alert alert-danger text-center" role="alert">
            sorry!, No any serached related blog Found, TRY ANOTHER
          </div>
          <div class="post-thumbnail">
            <a href="#"
              ><img
                src="{% static 'img/nopost.png' %}"
                alt="..."
                class="img-fluid"
            /></a>
          </div>
          {% else %}
          <!-- post -->
          {% for article in articles %}
          <div class="post col-xl-6">
            <div class="post-thumbnail">
              <a href="{{ article.get_absolute_url }}"
                ><img
                  src="{{ article.thumbnail.url }}"
                  alt="..."
                  class="img-fluid"
              /></a>
            </div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">
                  Posted On: {{ article.timestamp }}
                </div>
              </div>
              <div class="post-meta d-flex justify-content-between">
                {% for category in article.categories.all %}
                <div class="category"><a href="#">{{ category }}</a></div>
                {% endfor %}
              </div>
              <a href="{{ article.get_absolute_url }}">
                <h3 class="h4">{{article.title}}</h3>
              </a>
              <p class="text-muted">{{article.overview | safe}}</p>
              <footer class="post-footer d-flex align-items-center">
                <a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar">
                    <img
                      src="{{ article.author.profile_picture.url }}"
                      alt="..."
                      class="img-fluid"
                    />
                  </div>
                </a>
                <div class="date">
                  <i class="icon-clock"></i>{{ article.timestamp|timesince }}
                  ago
                </div>
                <div class="comments meta-last">
                  <i class="icon-comment"></i>{{article.comment_count}}
                </div>
              </footer>
            </div>
          </div>
          {% endfor %} {% endif %}
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul
            class="pagination pagination-template d-flex justify-content-center"
          >
            <li class="page-item">
              <a href="#" class="page-link">
                <i class="fa fa-angle-left"></i
              ></a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link active">1</a>
            </li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item">
              <a href="#" class="page-link">
                <i class="fa fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
    {% include 'sidebar.html' %}
  </div>
</div>
{% include 'newsletter.html' %} {% endblock content %}
